.row
  %h1 Credit Calc
  - @errors.each do |error|
    .alert.alert-danger
      = error
  %form#calcData(method="post" action="/payments")
    .row
      .col-md-5
        %label(for="percent") Percentage Rate (%):
        %input#percent.form-control(type="text" name="percent" value="10.0")

    .row
      .col-md-5
        %label(for='amount') Loan Amount:
        %input#amount.form-control(type="text" name="amount" value="10000.0")

    .row
      .col-md-5
        %label Turnover:
        %p
          %label.radio-inline
            %input(type="radio" name="cred_meth" value="1" checked=true) Standard Turnover
          %br
          %label.radio-inline
            %input(type="radio" name="cred_meth" value="2") Annuall Turnover (equal)

    .row
      .col-md-5
        %label(for="term") Period (months):
        %input#term.form-control(type="text" name="term" value="12")

    .row
      .col-md-1
      .col-md-3
        %br
        %input.btn.btn-primary(type="submit" value="Show payments")
